@{
    ViewData["Title"] = "About";
}
<div>
    <h2>My Contact Info</h2>
    <form class="myform">
        <table>
            <tr>
                <td>First Name: </td>
                <td>Haroon</td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>Munir</td>
            </tr>
            <tr>
                <td> Adress:</td>
                <td>Göteborg</td>
            </tr>
            <tr>
                <td> E-Mail:</td>
                <td>haroon_munir@hotmail.com</td>
            </tr>
            <tr>
                <td>Mobil Number:</td>
                <td>0760445327</td>
            </tr>
        </table>
    </form>
</div>
