@{
    ViewData["Title"] = "My Projects";
}
<div class="projectheader"> <h2>MY Projects</h2></div>
<div class="projectcontainer">

    <div>
        <h4>Todo</h4>
        <p>The project is the part of a CRM to maintain the work Flow.</p>
    </div>
    <div>
        <h4>Vending Machin</h4>
        <p>This project is to buy the product from a Machin.</p>
    </div>
    <div>
        <h4>Web Development using HTML&Java script.</h4>
        <p>Web site development with responsive themes. </p>
    </div>
    <div>
        <h4>Web Development using ASP.net MVC</h4>
        <p>My ongoing project is web development with ASP.NET MVC.</p>
    </div>
</div>
<div class="mygithub">
    <h3>To read more about my projects visit my Github</h3>
    <a href ="https://github.com/Rooni1">Github</a>
</div>
